<form class="signup-form box column is-half">

  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input id="username-signup" class="input" type="name" placeholder="e.g. user123" />
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input id="email-signup" class="input" type="email" placeholder="e.g. email@example.com" />
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input id="password-signup" class="input" type="password" placeholder="********" />
    </div>
  </div>

  <button type="submit" class="button is-primary">Sign Up</button>
</form>


<script src="/javascript/signup.js"></script>